{% extends "/layout/admindefault.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="admin-categories">
    <h2>Liste des categories</h2>
    <p><a href="/admin/categoryInsert">Ajouter une categorie</a></p>
{% for category in categories %}
    <article class="onePost">
    <h3>{{ category.name }}</h3>
    <p>SLUG : {{ category.slug }}</p>
    <a href="{{ category.AdminUrl }}">Editer</a>
    </article>
{% endfor %}
</section>
{{ paginate | raw }}
{% endblock %}