<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADMIN Bread Beer Shop</title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/admin.css">
</head>
<body>
<section id="wrapper">
<div>
    <aside>
        <header>
            <h1>{% block title %}Bread Beer Shop {{ title }}{% endblock %}</h1>
        </header>
        <ul>
            <li><a href="{{ uri("admin") }}">HOME</a></li>
            <li><a href="{{ uri("admin_categories") }}">CATEGORIES</a></li>
            <li><a href="{{ uri("admin_posts") }}">POSTS</a></li>
            <li><a href="{{ uri("admin_beers") }}">BIERES</a></li>
            <li><a href="{{ uri("admin_orders") }}">COMMANDES</a></li>
            <li><a href="{{ uri("admin_users") }}">UTILISATEURS</a></li>
            <li><a href="{{ uri("home") }}">EXIT</a></li>
        </ul>
    </aside>
</div>
<div>
    <main>
  {% if success %}
    {% for msg in success %}
    <div class="alert-success">
      {{msg}}
    </div>
    {% endfor %}
  {% endif %}

  {% if alert %}
    {% for msg in alert %}
    <div class="alert-error">
      {{msg}}
    </div>
    {% endfor %}
  {% endif %}
        {% block content %}
        {% endblock %}
    </main>
    </div>
</section>
</body>
</html>