{% extends "layout/sitebiere.twig" %}

{% block content %}
	<form method="POST" action="/purchase" id="formPurchase">
		<div class="form_row">
			<div class="form">
				<label>NOM</label>
				<input type="text" name="lastname" value="{{client.lastname}}" required/>
			</div>
			<div class="form">
				<label>PRENOM</label>
				<input type="text" name="firstname" value="{{client.firstname}}" required/>
			</div>
		</div>
		<div class="form">
			<label>ADRESSE</label>
			<input type="text" name="address" value="{{client.address}}" required/>
		</div>
		<div class="form_row">
			<div class="form">
				<label>Code Postal</label>
				<input type="text" name="zipCode" value="{{client.zipcode}}" required/>
			</div>
			<div class="form">
				<label>VILLE</label>
				<input type="text" name="city" value="{{client.city}}" required/>
			</div>
		</div>
		<div class="form">
			<label>PAYS</label>
			<input type="text" name="country" value="{{client.country}}" required/>
		</div>
		<div class="form_row">
			<div class="form">
				<label>TEL</label>
				<input type="tel" name="phone" value="{{client.phone}}" required/>
			</div>
			<div class="form">
				<label>MAIL</label>
				<input type="text" name="mail" value="{{user.mail}}" disabled/>
			</div>
		</div>
		<table>
			<thead>
				<tr>
					<th>les PRODUITS :</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th>Votre PANIER :</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<th>Nom</th>
					<th>Prix HT</th>
					<th>Prix TTC</th>
					<th>Quantité</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th>Quantité</th>
					<th>Total HT</th>
					<th>Total TTC</th>
				</tr>
			</thead>
			<tbody>
            {% for biere in bieres %}
                <tr>
                    <td>{{biere.title}}</td>
                    <td id="HT_{{biere.id}}">{{biere.getPrixHt()}}</td>
                    <td id="TTC_{{biere.id}}">{{biere.getPrixTTC()}}</td>
                    <td><input id="QTY_{{biere.id}}" class="QTY" type="number" min="0" value="0" oninput="calcPrice(this, {{biere.id}}, {{biere.price}});" /></td>
					<td></td>
                    <td><input type="button" name="add[{{biere.id}}]" value="Ajouter" onclick="addToCart({{biere.id}}, {{biere.price}});"/></td>
                    <td><input type="button" name="update[{{biere.id}}]" value="Modifier" onclick="updateCart({{biere.id}}, {{biere.price}});"/></td>
                    <td><input type="button" name="del[{{biere.id}}]" value="Retirer" onclick="deleteOfCart({{biere.id}}, {{biere.price}});"/></td>
                    <td><input id="PQTY_{{biere.id}}" class="PQTY" type="number" name="qty[{{biere.id}}]" min="0" value="0" oninput="calcPriceCart(this, {{biere.id}}, {{biere.price}});"/></td>
                    <td id="PHT_{{biere.id}}"></td>
                    <td id="PTTC_{{biere.id}}"></td>
                    <input type="hidden" name="id" value="{{biere.id}}" />
                    <input class="HT" type="hidden" name="price" value="{{biere.price}}" />
                </tr>
            {% endfor %}
			<tr>
				<td><strong>Total</strong></td>
				<td id="HT"></td>
				<td id="TTC"><strong></strong></td>
				<td id="QTY"><strong></strong></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td id="PQTY"><strong></strong></td>
				<td id="PHT"></td>
				<td id="PTTC"><strong></strong></td>
			</tr>
			<tr>
				<td><strong>Frais de port</strong></td>
				<td></td>
				<td id="FRAIS"><strong></strong></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td id="PFRAIS"><strong></strong></td>
			</tr>
			</tbody>
		</table>
<div class="centrer">
    <div><button id="commander" type="submit">Commander</button></div>
</div>
	</form>

{{ paginate | raw }}
{% endblock content %}