{% extends "layout/sitebiere.twig" %}

{% block content %}


<form method="POST" action="/purchase" id="formPurchase">
	<table class="table-striped">
		<thead>
			<tr>
				<th>les bières:</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<tr>
				<th>Nom</th>
				<th>Prix HT</th>
				<th>Prix TTC</th>
				<th>Quantité</th>
				<th></th>
				<th>PANIER:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% for biere in bieres %}
			<tr>
				<td>{{biere.title}}</td>
				<td id="HT_{{biere.id}}">{{biere.getPrixHt()}}</td>
				<td id="TTC_{{biere.id}}">{{biere.getPrixTTC()}}</td>
				{% set line = 0 %}
				{% for orderline in orderlines %}
					{% if biere.id == orderline.idProduct %}
						{% set line = orderline %}
					{% endif %}
				{% endfor %}
				<td><input id="QTY_{{biere.id}}" class="QTY" type="number" min="0" value="" oninput="calcPrice(this, {{biere.id}}, {{biere.price}});" /></td>
				<td></td>
				<td><input type="button" name="add[{{biere.id}}]" value="Ajouter" onclick="addToCart({{biere.id}}, {{biere.price}});"/></td>
				<td><input type="button" name="update[{{biere.id}}]" value="Modifier" onclick="updateCart({{biere.id}}, {{biere.price}},"");"/></td>
				<input type="hidden" name="id" value="{{biere.id}}" />
				<input class="HT" type="hidden" name="price" value="{{biere.price}}" />
			</tr>
		{% endfor %}
		<tr>
			<td><strong>Total</strong></td>
			<td id="HT"></td>
			<td id="TTC"><strong></strong></td>
			<td id="QTY"><strong></strong></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Frais de port</strong></td>
			<td></td>
			<td id="FRAIS"><strong></strong></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		</tbody>
	</table>
	</br>
	<table class="table-striped bg-info">
		<thead>
			<tr>
				<th>Votre PANIER:</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<tr>
				<td>Nom</td>
				<th>Quantité</th>
				<th>Total HT</th>
				<th>Total TTC</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% for biere in bieres %}
			<tr>
				<td>{{biere.title}}</td>
				{% set line = 0 %}
				{% for orderline in orderlines %}
					{% if biere.id == orderline.idProduct %}
						{% set line = orderline %}
					{% endif %}
				{% endfor %}
				<td><input id="PQTY_{{biere.id}}" class="PQTY" type="number" name="qty[{{biere.id}}]" min="0" value="{{line.quantity}}" disabled/></td>
				<td id="PHT_{{biere.id}}">{{(line.priceHT * line.quantity)| number_format(2, '.', ',')}}€</td>
				<td id="PTTC_{{biere.id}}">{{(line.priceHT * line.quantity * constant.TVA)| number_format(2, '.', ',')}}€</td>
				<td><input type="button" name="del[{{biere.id}}]" value="Retirer" onclick="deleteOfCart({{biere.id}}, {{biere.price}});"/></td>
				<input type="hidden" name="id" value="{{biere.id}}" />
				<input class="HT" type="hidden" name="price" value="{{biere.price}}" />
			</tr>
		{% endfor %}
		<tr>
			<td>Total</td>
			<td id="PQTY"><strong></strong></td>
			<td id="PHT"></td>
			<td id="PTTC"><strong></strong></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Frais de port</strong></td>
			<td></td>
			<td></td>
			<td id="PFRAIS"><strong></strong></td>
			<td></td>
		</tr>
		</tbody>
	</table>
    <input type="hidden" id="id" name="idClient" value="{{client.id}}" />
	<h1 class="titreduhaut">Vos adresses</h1>
	<div class="form-group row centrer">
		<ul class="nav nav-tabs nav-justified flex-column flex-sm-row">
			{% for cli in clients %}
			{% if cli.id == client.id %}
			<li class="nav-item" onClick="selectAdresse({{cli.id}})"><a id="a_{{cli.id}}" class="nav-link active" >{{cli.firstname}} {{cli.lastname}}</a></li>
			{% else %}
			<li class="nav-item" onClick="selectAdresse({{cli.id}})"><a id="a_{{cli.id}}" class="nav-link" >{{cli.firstname}} {{cli.lastname}}</a></li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>		
	<div class="form-group row justify-content-center">
	 	<div class="form-check">
			<input class="form-check-input" type="checkbox" id="new" name="new">
			<label class="form-check-label" for="new">Nouvelle adresse</label>
		</div>
	</div>
	<div class="form-group row">
		<div class="col">
			<label class="form-control-sm" for="lastname">NOM</label>
			<input class="form-control form-control-sm" type="text" id="lastname" name="lastname" value="{{client.lastname}}" required/>
		</div>
		<div class="col">
			<label class="form-control-sm" for="firstname">PRENOM</label>
			<input class="form-control form-control-sm" type="text" id="firstname" name="firstname" value="{{client.firstname}}" required/>
		</div>
	</div>
	<div class="form-group row">
	<div class="col">
		<label class="form-control-sm" for="address">ADRESSE</label>
		<input class="form-control form-control-sm" type="text" id="address" name="address" value="{{client.address}}" required/>
	</div>
	</div>
	<div class="form-group row">
		<div class="col">
			<label class="form-control-sm" for="zipCode">Code Postal</label>
			<input class="form-control form-control-sm" type="text" id="zipCode" name="zipCode" value="{{client.zipcode}}" required/>
		</div>
		<div class="col">
			<label class="form-control-sm" for="city">VILLE</label>
			<input class="form-control form-control-sm" type="text" id="city" name="city" value="{{client.city}}" required/>
		</div>
	</div>
	<div class="form-group row">
		<div class="col">
			<label class="form-control-sm" for="country">PAYS</label>
			<input class="form-control form-control-sm" type="text" id="country" name="country" value="{{client.country}}" required/>
		</div>
		<div class="col">
			<label class="form-control-sm" for="phone">TEL</label>
			<input class="form-control form-control-sm" type="tel" id="phone" name="phone" value="{{client.phone}}" required/>
		</div>
	</div>
	<div class="centrer">
		<div><button id="commander" type="submit">Commander</button></div>
	</div>
</form>
{% block javascripts %}
    <script src="{{ 'assets/js/script.js' }}"></script>
{% endblock %}

<script>totaux("P")</script>

{{ paginate | raw }}
{% endblock content %}
