{% extends "/layout/admindefault.twig" %}

{% block content %}
<section class="admin-index">
    
    <article class="onePost">
    <h2>Dernier article</h2>
    <h3>{{ post.name }}</h3>
    <p>{{ post.getExcerpt(200)  | raw}}</p>
    <p><a href="{{ post.AdminUrl }}">Editer</a></p>
    </article>

    <article class="onePost">
    <h2>Dernier produit Bière</h2>
    <h3>{{ beer.title }}</h3>
    <p>{{ beer.content | slice(0, 100) }}</p>
    <p><a href="{{ beer.AdminUrl }}">Editer</a></p>
    </article>

    <article class="onePost">
    <h2>Dernière category</h2>
    <h3>{{ category.name }}</h3>
    <p><a href="{{ category.AdminUrl }}">Editer</a></p>
    </article>

    <article class="onePost">
    <h2>Dernier utilisateur</h2>
    <h3>{{ user.mail }}</h3>
    <p>{{ user.firstname }} {{ user.lastname }}</p>
    <p><a href="{{ user.AdminUrl }}">Editer</a></p>
    </article>

    <article class="onePost">
    <h2>Dernière commande</h2>
    <h3>Commande n°{{ order.id }}</h3>
    <p>Client n°{{ order.userInfosId }} - {{ ((order.priceHt * order.tva) + order.port) | number_format(2, ',', '.')}}€</p>
    <p><a href="{{ order.AdminUrl }}">Editer</a></p>
    </article>
    
</section>
{% endblock %}