{% extends "/layout/admindefault.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="admin-posts">
    <h2>Liste des commandes</h2>
    <p>Sélectionnez un état</p>
    <ul id="status">
        {% for one in status %}
            <li class="lien"><a href="{{ one.AdminUrlOrders }}">{{ one.label }}</a></li>
        {% endfor %}
    </ul>
{% for order in orders %}
    <article class="onePost">
    <h3>Commande n°{{ order.id }} - {{ ((order.priceHt * order.tva) + order.port) | number_format(2, ',', '.') }}€</h3>
    <p>Client n°{{ order.userInfosId }}</p>
    <p>Status : {{ order.statusId }}</p>
    <p><a href="{{ order.AdminUrl }}">Editer</a></p>
    </article>
{% endfor %}
</section>
{{ paginate | raw }}
{% endblock %}