{% extends "/layout/admindefault.twig" %}

{% block content %}
<section class="admin-edit">
    <h2>Edition de commande</h2>
    <article class="onePost">
    <h4>Commande n°{{ order.id }}</h4>
    <p>Client n°{{ order.userInfosId }}</p>
    <div>
    <form action="" method="post">
        <p>Etat de la commande</p>
        </br>
        <select name="select">
            {% for one in status %}
            {% if order.statusId == one.id %}
                <option value="{{ one.id }}" selected>{{ one.label }}</option>
                {% else %}
                <option value="{{ one.id }}">{{ one.label }}</option>
                {% endif %}
            {% endfor %}
        </select>
        </br>
        <input type="hidden" name="order_id" value="{{ order.id }}">
        <button type="submit">Modifier</button>
    </form>
    </div>
    <ul>
    {% for orderLine in lines %}
        <li>{{ orderLine.beerId }} - {{ orderLine.beerQty }} x {{ orderLine.priceHt | number_format(2, ',', '.') }}€ HT</li>
    {% endfor %}
    </ul>
    <h4>Total de {{ ((order.priceHt * order.tva) + order.port) | number_format(2, ',', '.')}}€</h4>
    <p><a href="{{ order.AdminDeleteURL }}">SUPPRIMER</a></p>
    </article>
</section>
{% endblock %}