{% extends "/layout/admindefault.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="admin-edit">
    <h2>Edition de commande</h2>
    <article class="onePost">
    <h4>Commande n°{{ order.id }}</h4>
    <p>Client n°{{ order.idClient }}</p>
    <div>
    <form action="" method="post">
        <p>Etat de la commande</p>
        </br>
        <select name="select">
            {% for one in status %}
            {% if order.idStatus == one.id %}
                <option value="{{ one.id }}" selected>{{ one.libelle }}</option>
                {% else %}
                <option value="{{ one.id }}">{{ one.libelle }}</option>
                {% endif %}
            {% endfor %}
        </select>
        </br>
        <input type="hidden" name="order_id" value="{{ order.id }}">
        <button type="submit">Modifier</button>
    </form>
    </div>
    <ul>
    {% for product in lines %}
        <li>{{ product.id_product }} - {{ product.quantity }} x {{ product.priceHT | number_format(2, ',', '.') }}€ HT</li>
    {% endfor %}
    </ul>
    <h4>Total de {{ order.priceTTC | number_format(2, ',', '.')}}€</h4>
    <p><a href="{{ order.deleteURL }}">SUPPRIMER</a></p>
    </article>
</section>
{% endblock %}