{% extends "layout/sitebiere.twig" %}

{% block content %}
<select id="clients" onChange="selectClient()">
    {% for client in clients %}
    <option value="{{client.id}}">{{client.firstname}} {{client.lastname}}</option>
    {% endfor %}

</select>
<form method="POST" name="{{title}}" action="/profil">
    <div class="form-group">
        <label for="lastname">votre nom</label>
        <input id="lastname" type="text" name="lastname" value="{{user.lastname}}" required></div>
    <div class="form-group">
        <label for="firstname">votre prénom</label>
        <input id="firstname" type="text" name="firstname" value="{{user.firstname}}" required></div>
    <div class="form-group">
        <label for="address">votre adresse</label>
        <input id="address" type="text" name="address" value="{{user.address}}" required></div>
    <div class="form-group">
        <label for="zipCode">votre code postal</label>
        <input id="zipCode" type="text" name="zipCode" value="{{user.zipCode}}" required></div>
    <div class="form-group">
        <label for="city">votre ville</label>
        <input id="city" type="text" name="city" value="{{user.city}}" required></div>
    <div class="form-group">
        <label for="country">votre pays</label>
        <input id="country" type="text" name="country" value="{{user.country}}" required></div>
    <div class="form-group">
        <label for="phone">votre numéro de portable</label>
        <input id="phone" type="tel" name="phone" value="{{user.phone}}" required></div>
    <div class="form-group">
       <input id="id" type="hidden" name="id" value="{{user.id}}" /></div>
 
    <div class="centrer">
        <div><button type="submit">Envoyer</button></div>
    </div>
</form>

<form method="POST" name="{{title}}" action="/profil">
    <div class="form-group">
        <label for="passwordOld">votre ancien mot de passe</label>
        <input id="passwordOld" type="password" name="passwordOld" value="" required></div>
    <div class="form-group">
        <label for="password">votre mot de passe</label>
        <input id="password" type="password" name="password" value="" required></div>
    <div class="form-group">
        <label for="passwordVerify">confirmez votre mot de passe</label>
        <input id="passwordVerify" type="password" name="passwordVerify" value="" required></div>
    <div class="centrer">
        <div><button type="submit">Envoyer</button></div>
    </div>
</form>
<section id="commandes">
	<table class="table-striped">
		<thead>
			<tr>
                <th scope='row'>Commande</th>
				<th>Total TTC</th>
				<th>Status</th>
                <th></th>
			</tr>
		</thead>
		<tbody>
    {% for cmd in orders %}
			<tr>
                <td><a href='/purchaseconfirm/{{ cmd.id }}'>Commande n°{{ cmd.id }}</a></td>
                <td>{{ cmd.priceTTC|number_format(2, ',' ,'.') }} €</td>
                <td>{{ cmd.getIdStatus() }}</td>
{#                <form action="/profil" method="POST">
                    <input type="hidden" name="id" value="{{cmd.id}}" />
                    <td><input type="submit" name="delete" value="Supprimer" /></td>
                </form>#}
            </tr>
    {% endfor %}
		</tbody>
    </table>
</section>
{% endblock content %}